
.box {
    width: 190px;
    height:100px;
    background-color: #212121;
    margin-left: 15px;
    border-radius: 10px;
    padding-bottom: 10px;
    border-bottom: 20px;
    box-shadow: inset 8px 8px 16px #1e1e1e,
                inset -8px -8px 16px #242424;
}
.box h6 {
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    padding-top: 10px;
    letter-spacing: .7px;
}
.box h1{
    color: rgba(255, 255, 255, 0.75);
    font-size: 55px;
    margin-top: -10px;
    /* background-color: #fff; */
    font-weight: 200;

}

.smallBoxText {
    display: flex;
}
.smallBoxText h2 {
    float: right;
    width: auto;
    margin-top: -10px;
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.75);

}
.smallBoxText h3 {
    float: right;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 100;
}
@media (max-width:425px) {
    .box {
        width: 90%;
    }
    
}